* {
	background-color: black;
}

.title {
	font-family: cursive, serif;
	color: white;
	text-align: center;
	position: static;
}

body {
	background-color: black;
}

.footer {
	font-family: cursive, serif;
	color: white;
	text-align: center;
	clear: both;
	padding-top: 50px;
}

.container {
	width: 500px;
	height: 500px;
	padding: 20px;
	border: 5px solid white;
	border-radius: 10px;
	background-color: pink;
}

.row {
	background-color: pink;
}

.grid-tile {
	width: 7.6em;
	height: 7.6em;
	display: inline-block;
	background-color: blue;
	margin: 5px;
	padding: 25px;
}

.active-tile {
	background-color: green;
	width: 7.6em;
	height: 7.6em;
	display: inline-block;
	margin: 5px;
}

.taken-tile {
	background-color: yellow;
}

.tile {
	background-color: white;
	opacity: 0.8;
	width: 7.6em;
	height: 7.6em;
	position: absolute;
	z-index: 10;
	margin: 5px;
	/*margin-left: -10px;*/
	padding: 25px;
}